
@import "./themes.scss";

.content-page {
  margin-top: 175px;
  padding-left: 20vw;
  padding-right: 20vw;

}
.title {
  min-height: calc(100vh - 63px);
}
.title h2{
  font-size: 8em;
  margin:0px 0px;
  font-weight: 150;
  color: var(--theme-title-color);


}
.title p{
  margin:0px;
}

.portfolio {
  min-height: 100vh;
}
.portfolio h2{
  // font-color: lightgray;

}
.portfolio-period{
  color: #c5a3e3;
  margin-left:2.5px;
}

.App {
  background: var(--theme-page-background) !important;
  color: var(--theme-page-text) !important;
  // color: var(tits-dicks);
  height: 100%;
  transition: .5s !important;
}

.about-me-app {
  min-height:100vh;

}

.contact-me-app {
  min-height:75vh;
}

.footer {
  justify-content: center;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}

@media (max-width: 620px) {
  .title h2{
    font-size: 4em;
    font-weight: 250;
  }
  .title p{
    font-size: 15px;
  }
  .footer {
    font-size: 10px;
  }
  
}

@media (max-width: 900px) {
  .content-page{
    margin-top: 0;
    text-align: center;

  }
  .title {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}



