.email-button {
    margin-top: 50px;
    
}

.email-link{
    color: #c5a3e3;
    background-color: transparent;
    border: 1px solid #c5a3e3;
    border-radius: 5px;
    padding: 1.25rem 1.75rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
