body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F5F084; */
  /* background-color: #111; */
  /* background-color:whitesmoke; */

  
  /* color: rgb(31, 145, 196); */
  /* color: #c5a3e3; */
  /* color: lightgray; */
  /* color:#ff7e30; */
  /* color:#f5a44e; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
