*:hover{
  cursor: pointer;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 15px;
}


.links li {
    list-style-type: none;
    margin: 0px 10px;
    font-weight: 300;    
}
.links a{
    cursor: pointer;
    text-decoration: none;
    color: var(--theme-page-text)
}
.links a:hover{
    color: #c5a3e3;
    transition: .2s ease-in-out;
    transform: scale(1.1);
}
.resume-button:hover{
    transition: .2s ease-in-out;
    transform: scale(1.2);
    border-bottom: 2.5px solid #c5a3e3;    
}

.navbar {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    left: 0;
    margin: 0px 50px;
}

.navbar--mobile {
  display: none;
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: var(--theme-page-background);
  z-index: 9999;
  input{
    position: fixed;
    right: 5px;
    top: 10px;
  }
  h1{
    text-align: center;
    margin-top: -10px;
  }
}


.navbar--mobile_menu {
  display: none;
  position: absolute;
  background-color: var(--theme-page-background);
  height: 100vh;
  width: 100vw;
  transform: translateX(-100vw);
  margin-top: 50px;
  transition: all 500ms ease-out;
}

.open {
  transform: translateX(0);
  display: flex;
  justify-content: center;

  ul{
    flex-direction: column;
    display: flex;
    margin-top: 40vw;
    font-size: 2em; 

  }
}

.logo {
    font-weight: 300;

}
.navbar-left {
    justify-content: space-between;
    display:flex;
    align-items: center;

}

.navbar-right {
    justify-content: space-between;
    display:flex;
    align-items: center;

}


h1{
    color: lightgray;
    font-size: 15px;
    font-weight: 200px;
    // font-family: 'Poppins';
    letter-spacing: 7px;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }
  h1:hover span:nth-child(2):after{
    content: ".";
    font-weight: 600;
  }
  h1:hover span:nth-child(2){
    margin-left: 5px;
  }
  h1:hover span{
    color: var(--theme-title-color);
    text-shadow: 0 0 10px var(--theme-title-color), 
    0 0 20px var(--theme-title-color), 
    0 0 40px var(--theme-title-color);
                
  }

  .logo {
      text-decoration: none;
      color: var(--theme-page-text);

  }

  .toggle {
    --size: 1.5rem;
    
    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);
    
    transition: all 500ms;
    
    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);
  
      transform: scale(0.75);
      color: hsl(40, 100%, 50%);
      box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      ;
    }
  }

  @media (max-width: 620px) {
    .navbar {
      display: none;
    }

    .navbar--mobile {
      display: initial;
    }

    .navbar--mobile_menu {
      display: initial;
    }
  }



