.light {
    --theme-page-background: whitesmoke;
    --theme-page-text: #111;
    --theme-title-color: mediumpurple;
  }
  
  .dark {
    --theme-page-background: #111;
    --theme-page-text: lightgray;
    --theme-title-color: #c5a3e3;
    // $color-title: #c5a3e3;
  }